Distributed Server
===================

    light mean response time (1 threads): 5.366
    light mean response time (5 threads): 16.74
    light mean response time (10 threads): 33.9868
    light mean response time (15 threads): 57.778666666666666
    light mean response time (20 threads): 84.754
    light mean response time (25 threads): 110.50936
    light mean response time (30 threads): 135.89133333333334
    light mean response time (35 threads): 166.9009142857143
    light mean response time (40 threads): 199.56165
    light mean response time (45 threads): 225.13475555555556
    light mean response time (50 threads): 251.87332


    heavy mean response time (1 threads): 13.028
    heavy mean response time (5 threads): 38.9192
    heavy mean response time (10 threads): 78.5724
    heavy mean response time (15 threads): 118.62306666666667
    heavy mean response time (20 threads): 160.1029
    heavy mean response time (25 threads): 202.05176
    heavy mean response time (30 threads): 246.36713333333333
    heavy mean response time (35 threads): 291.31377142857144
    heavy mean response time (40 threads): 336.09415
    heavy mean response time (45 threads): 383.26377777777776
    heavy mean response time (50 threads): 433.52784


Iterative Server
================

    light mean response time (1 threads): 5.134
    light mean response time (5 threads): 21.6484
    light mean response time (10 threads): 41.7928
    light mean response time (15 threads): 62.684533333333334
    light mean response time (20 threads): 83.3914
    light mean response time (25 threads): 104.20456
    light mean response time (30 threads): 125.07746666666667
    light mean response time (35 threads): 145.20777142857142
    light mean response time (40 threads): 165.66495
    light mean response time (45 threads): 186.62217777777778
    light mean response time (50 threads): 207.53412


    heavy mean response time (1 threads): 10.136
    heavy mean response time (5 threads): 50.1396
    heavy mean response time (10 threads): 102.2068
    heavy mean response time (15 threads): 156.672
    heavy mean response time (20 threads): 213.0134
    heavy mean response time (25 threads): 270.92432
    heavy mean response time (30 threads): 328.9649333333333
    heavy mean response time (35 threads): 390.7832
    heavy mean response time (40 threads): 454.1052
    heavy mean response time (45 threads): 517.7945333333333
    heavy mean response time (50 threads): 585.43052

