Distributed Server
===================

light mean response time (1 threads): 6.45
light mean response time (5 threads): 19.5
light mean response time (10 threads): 39.87
light mean response time (15 threads): 83.70733333333334
light mean response time (20 threads): 196.4945
light mean response time (25 threads): 172.8816
light mean response time (30 threads): 210.072
light mean response time (35 threads): 235.85314285714287
light mean response time (40 threads): 278.05025
light mean response time (45 threads): 301.7351111111111
light mean response time (50 threads): 317.8422
heavy mean response time (1 threads): 14.17
heavy mean response time (5 threads): 41.832
heavy mean response time (10 threads): 86.844
heavy mean response time (15 threads): 153.97333333333333
heavy mean response time (20 threads): 199.2705
heavy mean response time (25 threads): 245.1324
heavy mean response time (30 threads): 282.95033333333333
heavy mean response time (35 threads): 318.9234285714286
heavy mean response time (40 threads): 365.1915
heavy mean response time (45 threads): 411.0804444444444
heavy mean response time (50 threads): 456.8294

Iterative Server
================

light mean response time (1 threads): 6.16
light mean response time (5 threads): 24.108
light mean response time (10 threads): 46.124
light mean response time (15 threads): 65.1
light mean response time (20 threads): 86.5905
light mean response time (25 threads): 108.094
light mean response time (30 threads): 128.926
light mean response time (35 threads): 149.8842857142857
light mean response time (40 threads): 171.32925
light mean response time (45 threads): 192.96022222222223
light mean response time (50 threads): 214.611
heavy mean response time (1 threads): 10.05
heavy mean response time (5 threads): 49.348
heavy mean response time (10 threads): 100.67
heavy mean response time (15 threads): 154.96466666666666
heavy mean response time (20 threads): 210.484
heavy mean response time (25 threads): 268.7256
heavy mean response time (30 threads): 325.01666666666665
heavy mean response time (35 threads): 384.186
heavy mean response time (40 threads): 445.328
heavy mean response time (45 threads): 509.50644444444447
heavy mean response time (50 threads): 571.5894
